/* common settings 314 */

body {
	font-family: "Arial";
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 30px;
	background-image: url(img/background.gif);
	background-repeat: repeat-x;
	padding: 10px;
}
hr {
	border: 0px solid #aaaaaa;
	background-color: #aaaaaa;
	height: 1px;
}
a:link {
	color: #cc0000;
	text-decoration: none;
}
a:visited {
	color: #cc0000;
	text-decoration: none;
}
a:focus {
	color: #cc0000;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	text-decoration: underline;
}
a:active {
	color: #cc0000;
	text-decoration: none;
}
h1 {
	color: #111111;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h2 {
	color: #111111;
	font-size: 1.6em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h3 {
	color: #333333;
}
.youtube {
	border: 1px solid #aaaaaa;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
div.sa_demo_contentScreen {
	background-color: #ffffff;
	margin: 0 5px 1em 0;
	padding: 0px 8px 8px 8px;
	margin: 10px 40px 40px 5px;
	width: 580px;
}
div.sa_demo_headerScreen {
	border: #e6e6e6 2px double;
	background-color: #ffffff;
	padding: 10px 10px 0px 10px;
	height: 60px;
	margin: 70px 0 0px 0;
	width: 580px;
}
/* end common settings 314 */

#sortablelist_demo
{
    list-style-type: none;
    padding: 0;
}

#sortablelist_demo li
{
    padding: 2px;
    cursor: move;
    font-weight: bold;
    border-radius: 6px;
}

#sortablelist_demo li span
{
    background: #f5f5f5;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px;
    display: block;
}

#sortablelist_demo li:focus
{
    border: 2px dotted #cc0000;
    padding: 0;
}

#sortablelist_demo li:focus span
{
    background: #fff;
}

#sortablelist_demo li.move span
{
	background-color: #ffaaaa !important;
}


